*{
  outline: 1px solid prange;
}

body {
  width: 960px;
  margin: 0 auto;
  color: #FEEB32;
  background-image: url("pic/back.jpg");

}

header p {
  font-size: 68px;
  font-family: 'Star Jedi', arial;
  text-shadow: 4px 4px 4px white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

ul img {
  width: 300px;
  height: 300px;
  /*opacity: 0.3;*/
}

ul{
  width: 300px;
  display: inline-block;
  float:left;
  height: 300px;
  /* border: solid 1px black; */
  margin: 0px 20px 0px 0px;
}

ul:last-child {
  margin-right: 0px;
}

fieldset{
  margin-bottom: 30px;
  text-align: center;
  border: 1px solid yellow;
  height: auto+5px;
  /* padding-bottom: 30px; */
  padding: 30px 5px;
}

.questions {
  clear: both;
  font-size: 24px;
  background-color: black;
}

.questions label {
  display: block;
  text-align: center;
  border: 1px solid yellow;
  padding: 5px;
  width: 700px;
  margin: 10px auto;
}

input {
  visibility:hidden;
  display:block;
  width: 700px;
}

label {
  cursor: pointer;
}

input:checked + label {
  color: red;
}

section div {
  /* clear: both; */
  width: 320px;
  color: rgba(0, 0, 0, 0.541176);
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: normal;
	/* height: 32px; */
	letter-spacing: normal;
  /* height: 150px; */
	/* line-height: 32px; */
	/* padding-top: 100px; */
  margin: 0 auto;

}

footer {
  clear: both;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 50px;
  padding: 10px;
}

button{
  width: 200px;
height: 50px;
display: block;
margin: auto;
margin-bottom: 100px;
}

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}
